@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=DM+Mono:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.bg-custom {
  background-color: #111827;
  background-image: url("/bg-texture.png");
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.sqD:not(.squiggle-hero-pop1) {
  animation: float 2s infinite ease-in-out;
}
.landingSectionTitle::before {
  content: "";
  position: absolute;
  left: 105%;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100vw;
  background-color: #00c7ff;
}

@media (max-width: 768px) {
  .landingSectionTitle::before {
    left: 50%;
    right: auto;
    top: -20px;
    transform: translate(-50%, -50%);
    height: 8px;
    width: 150px;
    background-color: #00c7ff;
  }
}
