@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;700&family=DM+Mono:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.bg-custom {
  background-color: #111827;
  background-image: url("https://cdn.discordapp.com/attachments/1087185625658167420/1212532868971106325/bg-texture.png?ex=65f22e3b&is=65dfb93b&hm=45d51dee0756368e05c3858c233e6b8eb95ce056a0f768d96b641dc365b7ec76&");
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.sqD:not(.squiggle-hero-pop1) {
  animation: float 2s infinite ease-in-out;
}
